<!-- HTML -->
<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-section">
      <strong>Dr. Stetter ITQ S.L.U.</strong>
      <br>Parque Científico Tecnológico
      <br>Edificio PolivalenteIII - 005
      <br>C/ Practicante Ignacio Rodríguez
      <br>35017 Las Palmas de Gran Canaria
      <br>España<br>
    
    </div>
    <div class="footer-section">
      <h3>Contacto</h3>
      Phone: <a href="tel:+34683280193">+34 683 280193</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 . Todos los derechos reservados.</p>
  </div>
</footer>