
<div class="main-container">

    <div class= "content"> 

        <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onLogin(frmRegister)">
            
            
            <div class="left-side" >
                <mat-form-field  >
                    <mat-label>User</mat-label>
                    
                    <input matInput [(ngModel)]="name" name="name" required >
    
                </mat-form-field>
    
                <mat-form-field >
                    <mat-label>Password</mat-label>
    
                    <input matInput [(ngModel)]="password" name="password" type="password" required>
    
                </mat-form-field>
                
                <div>
                    <button class="button" type = "submit"> Register </button>
            
                </div>
            </div> 
          
            <div class="right-side">
                <p class="welcome-text">Welcome to</p>
                <img src="assets/images/Smart-Green-Island-Makeathon.jpg" class="img" alt="Company Logo">
                <p class="year-text">2024</p>
            </div>

            
        </form>
        
    </div>
        
</div> 


