
<div class="main-container">
  <div class="content">
   
      <div class="center-side">
        <p class="Metric-text">Metric Makeathon 2024</p>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <canvas id="checkin"></canvas>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <canvas id="country"></canvas>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <canvas id="status"></canvas>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;</p>

        <button class="button" (click)="goBack()">Go Back</button>
      </div>
  </div>
</div>