<div class="container">
  <div class="content">
    <form #frmAddParticipant="ngForm" class="AddParticipantContainer" (ngSubmit)="onAddParticipant(frmAddParticipant)">
      <div class="center">
        <div class="left-side">
          <p class="AddParticipant-text">Add Participant</p>

          <mat-form-field>
            <mat-label>Salutation</mat-label>
            <mat-select [(value)]="salutation">
              <mat-option value="Mr.">Mr.</mat-option>
              <mat-option value="Ms.">Ms.</mat-option>
              <mat-option value="Mrs.">Mrs.</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(value)]="category">
              <mat-option value="Coach">Coach</mat-option>
              <mat-option value="Sponsor">Sponsor</mat-option>
              <mat-option value="YT">YT</mat-option>
              <mat-option value="Prof">Prof</mat-option>
              <mat-option value="Teacher">Teacher</mat-option>
              <mat-option value="Vis">Vis</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>T-Shirt Size</mat-label>
            <mat-select [(value)]="tshirtsize">
              <mat-option value="S">S</mat-option>
              <mat-option value="M">M</mat-option>
              <mat-option value="L">L</mat-option>
              <mat-option value="XL">XL</mat-option>
              <mat-option value="XXL">XXL</mat-option>
              <mat-option value="XXXL">XXXL</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="firstName" name="First Name" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="lastName" name="Last Name">
          </mat-form-field>

          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="email" name="E-Mail" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Mobile Number</mat-label>
            <input matInput [(ngModel)]="mobileNumber" name="Mobile Number" >
          </mat-form-field>

          <input type="checkbox" *ngIf="category === 'YT'" [(ngModel)]="certificate" name="Certificate" > Receive Certificate

          <div class="center">
            <button class="button" type="submit">Add and CheckIn</button>
          </div>

          <button class="button" (click)="goBack()">Go Back</button>
        </div>
      </div>
      <div class="right-side">
        <img src="assets/images/Smart-Green-Island-Makeathon.jpg" class="img" alt="Company Logo">
      </div>
    </form>
  </div>
</div>