<div class="container">
    <h1 class="titule">Create account </h1>

    <div class="content"> 
        <form #frmRegister="ngForm" class="registerContainer" (ngSubmit)="onRegister(frmRegister)">

            <div class="right-side">
                <img src="assets/images/Smart-Green-Island-Makeathon.jpg" class="img" alt="Company Logo">
            </div>

            <div class="left-side">
                <mat-form-field  >
                    <mat-label>User</mat-label>
                    
                    <input matInput [(ngModel)]="username" name="username" required >
    
                </mat-form-field>
    
                <mat-form-field class="left-side">
                    <mat-label>Password</mat-label>
    
                    <input matInput [(ngModel)]="password" name="userPassword" type="password" required>
    
                </mat-form-field>
                
                <mat-form-field class="left-side">
                    <mat-label>Confirm Password</mat-label>
    
                    <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" type="confirmPassword" required>
    
                </mat-form-field>
            </div>

            <div class="center">
                <button class="button" type = "submit"> Register </button>
        
            </div>
        </form>
        
    </div>
        
</div> 